        body{
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
           background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
        }
        .container {
            max-width: 1100px;
            margin: 40px auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 40px;
            color: #ffffff;
            text-shadow:
                2px 2px 6px rgba(0, 0, 0, 0.5),
                0 0 10px rgba(255, 255, 255, 0.3),
                0 0 20px rgba(255, 255, 255, 0.2);
        }


        .team {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }

       .card {
            background: #000000;
            width: 300px;
            border-radius: 12px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4), 0 6px 10px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
            }

        .card:hover {
            transform: translateY(-12px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.4);
        }


        .card img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
            border: 6px solid #764ba2;
            transition: transform 0.3s ease;
        }

        .card:hover img {
            transform: scale(1.1);
        }

        .card h2 {
            margin: 15px 0 5px;
            color: #fff;
        }

        .card h4 {
            margin: 5px 0 15px;
            color: #666;
        }

        .card p {
            font-size: 14px;
            color: #444;
        }

        #about {
            text-align: center;     
            margin: 50px auto;      
            max-width: 800px;        
            color: #ffffff;        
        }

        #about h2 {
            font-size: 36px;
             margin-bottom: 15px;
        }

        #about p {
            font-size: 18px;
            line-height: 1.6;
        }


        footer {
            text-align: center;
            color: #fff;
            margin-top: 40px;
        }
